.card_info_section {
    &:not(:first-child) {
        margin-top: 0.5rem;
    }
    &.card {
        padding: 0.5rem;
        border: unset;
    }
    .card_info_title {
        &.card-title {
            margin-bottom: 0.5rem;
            text-transform: capitalize;
            font-weight: 500;
        }
    }
    .card_info_description {
        margin-bottom: 0;
        font-size: 0.9rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}   